:root {
  --color-background: #1c1c28;
  --color-border: #2d2d3d;
  --color-text: #f7f7f7;
  --color-text-soft: #6f6e84;

  --color-green: #3fb68b;
  --color-red: rgb(235, 64, 115);

  --button-background-color: #665dcd;
  --button-text-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  background: var(--color-background);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--color-text);
  text-decoration: none;
}

.pa-1 {
  padding: 1em;
}
.pa-2 {
  padding: 2em;
}
.pa-3 {
  padding: 3em;
}
.pa-4 {
  padding: 4em;
}
.pt-1 {
  padding-top: 1em;
}
.pt-2 {
  padding-top: 2em;
}
.pt-3 {
  padding-top: 3em;
}
.pt-4 {
  padding-top: 4em;
}
.pb-1 {
  padding-bottom: 1em;
}
.pb-2 {
  padding-bottom: 2em;
}
.pb-3 {
  padding-bottom: 3em;
}
.pb-4 {
  padding-bottom: 4em;
}
img {
  &.js-lazy {
    transition: opacity 2s;
  }
  &.is-cover {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.success-text {
  color: var(--color-green);
}
.error-text {
  color: var(--color-red);
}
