@import './base.scss';

body {
  font-weight: normal;
}

#app {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
}

.container {
	width: 100%;
	max-width: 1280px;
	padding: 0 2em;
	margin: 0 auto;
}

@media (min-width: 1024px) {
	.container {
  }
}

.primary-header {
	height: 50px;
	display: grid;
	grid-template-columns: auto 3fr 1fr;
	border-top: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 1px;
}
.primary-footer {
	height: 50px;
	display: grid;
	grid-template-columns: auto 3fr 1fr;
	border-top: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 1px;
	.footer-info {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 8px 16px;
	}
}
.primary-logo {
	line-height: 32px;
	padding: 8px 16px;
	border-right: 1px solid var(--color-border);
	font-size: 1.4em;
	color: #fff;
	font-weight: bold;
}

.primary-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.secondary-nav {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	.nav-link {
		border-right: 0;
		border-left: 1px solid var(--color-border);
	}
}
.nav-link {
	line-height: 32px;
	padding: 8px 16px;
	border-right: 1px solid var(--color-border);
	transition: all 0.3s ease;
	white-space: nowrap;

	&.router-link-active {
		background: rgba(255, 255, 255, 0.1);
		color: var(--vt-c-white-soft);
	}

	&:hover {
		background: #1e1e1e;
		color: var(--vt-c-white-soft);
		transition: all 0.3s ease;
	}
}

.panel {
	width: 100%;
	border: 1px solid var(--color-border);
	border-radius: 12px;
	margin: 32px 0;
	overflow: hidden;
}

.btn {
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	cursor: pointer;
	border: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
	font-size: 14px;
	line-height: 18px;
	height: 36px;
	min-height: 36px;
	border-radius: 8px;
	padding: 0px 16px;
	
	&.btn-primary1 {
		--button-background-color: var(--primary-color);
		--button-active-background-color: rgba(89,115,254,0.8);
		--button-text-color: var(--vt-c-white-soft);
	}
}
